/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    }
    
    html {
        font-size: 62.5%;
    }
    
    :root {
        --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--secondary-color);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
}

/* End of Common styles */

/* Navbar */
.navbar-icon {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    flex-direction: column;
}

.open-navbar-icon {
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    z-index: 200;
}
.navbar-icon .line {
    height: 0.2rem;
    width: 3.5rem;
    background-color: var(--light-grey-color);
}

.open-navbar-icon .line {
    margin: 0.3rem 0;
}

.navbar-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 0;
    bottom: -100%;
    opacity: 0;
    z-index: 300;
    padding: 3.5rem 5.5rem 3.5rem 3.5rem;
    transition: bottom 0.5s, opacity 0.2s;
}

.change .navbar-wrapper {
    bottom: 0;
    opacity: 1;
    transition: bottom 0.5s, opacity 0.2s 0.25s;
}


